body {
    /* background-color: slategray; */
    background-image: url("https://wallpaperaccess.com/full/3086362.jpg");
    background-size: 100%;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: none;
}

body::-webkit-scrollbar-track {
    background: none;
}
body::-webkit-scrollbar-track-piece {
    background: none;
}
body::-webkit-scrollbar-thumb {
    background: rgb(45, 45, 45);

}

h1 {
    color: rgb(255, 255, 255);
    margin: 0;
}

p {
    margin: 0;
}

ul {
  position: sticky;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(45, 45, 45);
}
  
li {
  float: left;
}
  
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
li a:hover:not(.active) {
  background-color: #04AA6D;
}

img {
    width: 30%;
    margin-top: 1%;
}



.container {
    
    background-color: #04AA6D;
    font-size: 22px;
    max-width: 50%;
    width: auto;
    height: auto;
    padding: 1% 1% 1% 1%;
    margin: 1% auto 1% auto;
}

.intro {
    font-size: 26px;
    width: auto;
    height: auto;
    padding: 1% 1% 1% 1%;
    margin: 2% 1% 1% 1%;
}


.intro::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: transparent;
}

.intro::-webkit-scrollbar-track {
    background: transparent;
}
.intro::-webkit-scrollbar-track-piece {
    background: transparent;
}
.intro::-webkit-scrollbar-thumb {
    background: rgb(45, 45, 45);

}

.active {
  background-color: #04AA6D;
}
